
<% @job = Job.new %>
<%= form_for @job do |f| %>
<div>Title: <%= f.text_field :name %></div>
<div>Description: <%= f.text_field :description %></div>
<div>Origin: <%= f.text_field :origin %></div>
<div>Destination: <%= f.text_field :destination %></div>
<div> # of Containers needed: <%= f.text_field :job_containers %></div>
<div>Price: <%= f.text_field :cost %></div>
<%= f.submit %>

<% end %>
