<% content_for :page_title, "Post New Job" %>

<% @job = Job.new %>
<%= form_for @job do |f| %>
<hr>
  <div class= "field"> 
    <div class= "textarea is-medium">
     <input class="input is-primary is-medium" type="text" placeholder="Title"
      <%= f.text_field :name%></textarea>
   </div>
  </div>

 <div class= "field"> 
    <div class= "textarea is-medium">
     <input class="input is-primary is-medium is-focused" type="text" placeholder="describe details of job"
      <%= f.text_field :description%></textarea>
   </div>
  </div>

 <div class= "field"> 
    <div class= "textarea is-medium">
     <input class="input is-primary is-medium" type="text" placeholder="origin of Pickup"
      <%= f.text_field :origin%></textarea>
   </div>
  </div>


 <div class= "field"> 
    <div class= "textarea is-medium">
     <input class="input is-primary is-medium" type="text" placeholder="Destination of transport/dropoff"
      <%= f.text_field :destination%></textarea>
   </div>
  </div>
<br>

 <div class= "field"> 
    <div class= "textarea is-medium">
     <input class="input is-primary is-medium" type="text" placeholder="number of containers being transported"
      <%= f.text_field :job_containers%></textarea>
   </div>
  </div>
<br>

 <div class= "field"> 
    <div class= "textarea is-medium">
     <input class="input is-primary is-medium" type="text" placeholder="Pay: must be more than $100"
      <%= f.text_field :cost%></textarea>
   </div>
  </div>
<br>


<%= f.button :submit, class: "button is-warning"%>


<% end %>






