<h2>Profile</h2>
<div> <%= link_to 'Edit Profile Information', edit_user_registration_path %></div>



<h2 class="subtitle is-5"><strong><%= @user.jobs.count %></strong> Jobs</h2>
<%= render @user.jobs %>
    <hr />
     <%= render 'job/index' %>
</div>
<h4>Scheduled Pickups</h4>
	<% j.schedules.each do |s| %>
		<div>Scheduled start date:<%= s.start.strftime("%m/%d/%Y") %></div>
		<div>Boat:<%= Boat.find(s.boat_id).name %></div>
		<div>Containers:<%= Boat.find(s.boat_id).boat_containers %></div>
		<hr>
	<% end %>
<% end %>

<hr>
<h2>Your Boats</h2>
<% @user.boats.each_with_index do |b, index| %>
<div> <%= image_tag b.image.url(:thumb) %></div>
  <h2><a href='/boats/<%= b.id %>'><%= index + 1 %>. <%= b.name %></a></h2>

  <h4>Scheduled Trips</h4>
  <% b.schedules.each do |s| %>
    <div><a href='/jobs/<%= Job.find(s.job_id).id %>'>Job: <%= Job.find(s.job_id).name %></a></div>
    <div>Origin: <%= Job.find(s.job_id).origin %></div>
    <div>Cost: <%= Job.find(s.job_id).cost %></div>
    <div>Scheduled start date: <%= s.start.strftime("%m/%d/%Y") %></div>
  <% end %>
<% end %>
