<h2>List of Boats</h2>

<% @boats.each do |b| %>
  <div class =" has-text-centered" >
  <% if b.image.exists? %>
    <div> <%= image_tag b.image.url(:thumb) %></div>
    <% end %>
    <div>Name: <a href="/boats/<%= b.id %>"><%= b.name %></a></div>
    <div>Location: <%= b.location %></div>
    <div>Capacity: <%= b.boat_containers %></div>
    <div>Owner: <a href='/users/<%= User.find(b.user_id).id%>'> <%= User.find(b.user_id).username %></a></div>
    <div>Owner email: <%= User.find(b.user_id).email %></div>

    <hr>
<% end %>
