
<% content_for :page_title, "Build New Boat" %>
<%= form_for @boat, html: { multipart: true } do |f| %>

<br>

 <div class= "field"> 
    <div class= "textarea is-medium">
     <input class="input is-primary is-medium is-rounded" type="text" placeholder="Name"
      <%= f.text_field :name%></textarea>
   </div>
  </div>
<br>

   <div class= "field"> 
      <div class= "textarea is-medium">
      <input class="input is-warning is-medium is-rounded" type="text" placeholder="Input Location"
      <%= f.text_field :location%></textarea>
      </div>
    <div>
    <br>
  

    <div class= "field"> 
      <div class= "textarea is-medium">
        <input class="input is-primary is-medium is-rounded" type="text" placeholder="Container Compacity"
      <%= f.text_field :boat_containers%></textarea>
      </div>
    </div>
      <br>

        <div class= "field"> 
           <div class= "control is-loading">
              <%= f.label :image %>
              <%= f.file_field :image, class: 'form-control' %>
           </div>
        </div>
          <hr>

         <%= f.button :submit, class: "button is-warning is-outlined"%>
      <% end %>





